In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\виталий\appdata\local\programs\python\python310\lib\site-packages (2.1.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.22.4 in c:\users\виталий\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\виталий\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\виталий\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\виталий\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\виталий\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

## firt_question

In [3]:
pd.__version__

'2.1.0'

In [4]:
house_info = pd.read_csv(r'C:\Users\Виталий\PycharmProjects\home_work_1\housing.csv')

In [5]:
house_info

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

## second_question

In [6]:
print("Number of Rows: " + str(len(house_info.axes[1])))

Number of Rows: 10

## third_question

In [7]:
df_with_nan_columns = house_info.loc[:, house_info.isnull().any()] 
print(df_with_nan_columns.axes[1])

Index(['total_bedrooms'], dtype='object')

## fourth question

In [8]:
df_ocean_proximity = house_info.ocean_proximity
print("Number of unique valuse: " + str(df_ocean_proximity.nunique()))

Number of unique valuse: 5

## fifth question

In [9]:
df_near_bay = house_info[house_info.ocean_proximity == "NEAR BAY"]
df_near_bay.median_house_value.mean().round(0)

259212.0

## sixth question

In [10]:
avarage_total_bedrooms = house_info.total_bedrooms.mean().round(3)
house_info.total_bedrooms = house_info.total_bedrooms.fillna(avarage_total_bedrooms)
avarage_total_bedrooms_after_filling = house_info.total_bedrooms.mean().round(3)
print("Avarage total bedrooms before filling: " + str(avarage_total_bedrooms))
print("Avarage total bedrooms after filling: " + str(avarage_total_bedrooms_after_filling))
print("Has it changed: " + str(avarage_total_bedrooms != avarage_total_bedrooms_after_filling))

Avarage total bedrooms before filling: 537.871
Avarage total bedrooms after filling: 537.871
Has it changed: False

## seventh question

In [11]:
import numpy as np

In [12]:
house_island = house_info[house_info.ocean_proximity == "ISLAND"]
df_array_values = house_island[["housing_median_age","total_rooms","total_bedrooms"]]
x = df_array_values.values
XTX = x.T.dot(x)
y = np.array([950, 1300, 800, 1000, 1300])
w = np.linalg.inv(XTX).dot(x.T).dot(y)
print(w.shape)
print(w)

(3,)
[23.12330961 -1.48124183  5.69922946]